:root {
  --dark-theme-bg-color: #000;
  --dark-theme-text-color: #fff;
  --light-theme-bg-color: #fff;
  --light-theme-text-color: #000;
}

body {
  margin: 0;
  padding: 0;
  font-size: 18px;
}

.img {
    max-width: 380px;
    height: auto;
}/* ... остальные стили ... */

/* Стили для кнопок в темной теме */
.dark-theme .btn {
  background: rgb(161, 121, 61);
  color: #fff;
}

.dark-theme .btn:hover {
  background: lightgreen;
}

/* Стили для кнопок в светлой теме */
.light-theme .btn {
  background: #007bff;
  color: #fff;
}

.light-theme .btn:hover {
  background: lightblue;
}


.usercard {
	text-align: center;
}
/* Ваши существующие стили */

/* Стили для кнопки "наверх" */
.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #997648; /* Цвет фона */
    color: #fff; /* Цвет иконки */
    width: 50px; /* Ширина кнопки */
    height: 50px; /* Высота кнопки */
    border-radius: 50%; /* Делаем кнопку круглой */
    text-align: center;
    line-height: 50px; /* Центрируем содержимое вертикально */
    font-size: 24px; /* Размер иконки */
    text-decoration: none; /* Убираем подчеркивание для ссылки */
    transition: background-color 0.3s ease-in-out;/* Анимация при наведении */
    opacity: 0.6;
}

/* Стиль иконки стрелочки (в данном случае, используется FontAwesome) */
.scroll-to-top i {
    margin-top: 2px; /* Выравниваем иконку по центру кнопки */
}

/* Стиль кнопки при наведении */
.scroll-to-top:hover {
    background-color: #b0925a; /* Цвет фона при наведении */
    opacity: 1;
}

.custom-header {
    background-color: #a1793d;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    align-items: center;
}

/* Стили для верхней навигации в шапке */
.top-nav ul {
    list-style: none;
    padding: 0;
}

.top-nav li {
    display: inline;
    margin-right: 20px;
}

.top-nav a {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
    transition: color 0.3s;
    display: block; /* Добавляем этот стиль */
    text-align: center; /* Выравниваем текст по центру */
}

.top-nav a:hover {
    color: #63410e;
}

/* Стили для нижней навигации в шапке */
.bottom-nav ul {
    list-style: none;
    padding: 0;
}

.bottom-nav li {
    display: inline;
    margin-right: 20px;
}

.bottom-nav a {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
    transition: color 0.3s;
    display: block;
    text-align: center; /* Выравниваем текст по центру */
}

.bottom-nav a:hover {
    color: #63410e;
}
/* Стили для заголовков разделов */
h2 {
    text-align: center; /* Выравниваем текст по центру */
    margin-top: 20px; /* Добавляем немного отступа сверху для визуального разделения */
}
.quantity {
    display: none;
}
